document {
    background: url("img/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

authors  {
    color: #ffffff; font-family: 'Lato', sans-serif; font-size: 20px; font-weight: 300; line-height: 58px;
    display: block;
    text-align: center;
    position: fixed;
    bottom: 15px;
    right: 16px;
   
}
author::before {
    content: "Autor: ";
}
modificationDate::before {
    content: "Data modifikacji: ";
}
modificationDate {  
    color: #ffffff; font-family: 'Lato', sans-serif; font-size: 10px;  line-height: 58px;
    display: block;
    position: fixed;
    bottom: 0px;
    right: 13px;
    font-style: italic;
}
studentId {
    font-style: italic;
    font-size: 15px;
}
description {
    color: #805736; 
    font-family: 'Droid serif', serif;
    font-size: 36px; 
    font-weight: 400; 
    line-height: 44px; 

}
catalog {
    display: block;
}
cd {
    display: block;
}


catalog {
    margin: 20px;
  }
   
  ul {
    list-style-type: none;
    width: 500px;
  }
   
 title {
    display: block;
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  }

  img{
    float: left;
    margin: 0 15px 0 0;
  }
   
  cd p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
  }
   
  cd {
    padding: 10px;
    overflow: auto;
  }
   
  cd:hover {

    box-shadow: inset 0 0 7.5em rgba(56, 27, 15, 0.685);
    opacity: 1;
    margin: auto -0.5em;
  }